[Desktop Entry]
Name=ZapFeedReader
Exec=zapfeedreader-client
Icon=zapfeedreader-client
Type=Application
StartupWMClass=zapfeedreader-client
Terminal=false
Categories=Network;News;